<a href="https://colab.research.google.com/github/BenjaminScialom/Finance/blob/master/Financial_web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Motivation**

Getting financial statment data online is quite difficult. Here, I aim at automating this process of getting finanical data from YahooFinance!

### **Libraries**

I will use 4 libraries: 


1.   Pandas : To deal with the large amount of data
2.   urllib.request: to manage the webscrapping part. it basically get all the information on a specific web page.
3.   BeautifulSoup: To take off the web language around the data I need.
4.   Datetime: To get the current year automatically

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request as ur
from datetime import date

### **Build URL**

For instance: https://finance.yahoo.com/quote/MSFT/financials?p=AAPL

In [2]:
ticker = 'MSFT'
# URL link 

url_IncomeStmt = 'https://finance.yahoo.com/quote/%s/financials?p=%s' %(ticker,ticker)
url_BalanceSheet = 'https://finance.yahoo.com/quote/%s/balance-sheet?p=%s' %(ticker,ticker)
url_CashFlowStmt = 'https://finance.yahoo.com/quote/%s/cash-flow?p=%s' %(ticker,ticker)

## **Get  Fundamentals data:**
Enter ticker to get Income statement, Balance sheet and cash flow statement

In [24]:
def get_Income_statement(ticker):
  url_IncomeStmt = 'https://finance.yahoo.com/quote/%s/financials?p=%s' %(ticker,ticker)
  read_data_IS = ur.urlopen(url_IncomeStmt).read() 
  raw_IS = BeautifulSoup(read_data_IS,'lxml')

  ls= [] # Create empty list
  for data in raw_IS.find_all('div'): 
    #Find all data structure that is 'div'
    ls.append(data.string) # add each element one by one to the list

  CleanData_IS = list(filter(None,ls))
  # fixing some issues
  CleanData_IS= CleanData_IS[13:]
  CleanData_IS.remove('Quarterly')
  CleanData_IS.remove('Expand All')
  CleanData_IS.insert(6,'Total Revenue')
  CleanData_IS.insert(24,'Operating Expense')
  CleanData_IS.insert(36,'Net Non-Operating Interest Income Expense')
  CleanData_IS.insert(42,'Other Income Expense')
  CleanData_IS.insert(60,'Net Income Common Stockholders ')
  data_IS = list(zip(*[iter(CleanData_IS)]*6))

  # Build Dataframe
  Income_stmt = pd.DataFrame(data_IS[0:])
  Income_stmt.iloc[0,0] =""
  Income_stmt.columns = Income_stmt.iloc[0] # Name columns to first row of dataframe
  Income_stmt = Income_stmt.iloc[1:,] # start to read 1st row
  Income_stmt = Income_stmt.T # transpose dataframe
  Income_stmt.columns = Income_stmt.iloc[0] #Name columns to first row of dataframe
  Income_stmt.drop(Income_stmt.index[0],inplace=True) #Drop first index row
  Income_stmt.index.name = '' # Remove the index name
  Income_stmt.rename(index={'ttm': '%s/%s/%s' %(date.today().month,date.today().day,date.today().year)},inplace=True) #Rename ttm in index columns to end of the year
  Income_stmt.index = pd.to_datetime(Income_stmt.index.values,infer_datetime_format=True) # Converting the index as date

  return Income_stmt

In [25]:
IS = get_Income_statement(ticker='AAPL')

In [26]:
IS

           Total Revenue  ... Tax Effect of Unusual Items
2020-11-17   273,857,000  ...                           0
2020-09-30   274,515,000  ...                           0
2019-09-30   260,174,000  ...                           0
2018-09-30   265,595,000  ...                           0
2017-09-30   229,234,000  ...                           0

[5 rows x 30 columns]

In [27]:
def get_balance_sheet(ticker):
  
  url_BalanceSheet = 'https://finance.yahoo.com/quote/%s/balance-sheet?p=%s' %(ticker,ticker)
  read_data_BS = ur.urlopen(url_BalanceSheet).read() 
  raw_BS = BeautifulSoup(read_data_BS,'lxml')

  ls_BS= [] 
  for data in raw_BS.find_all('div'): 
    ls_BS.append(data.string) 

  CleanData_BS = list(filter(None,ls_BS))
  CleanData_BS = CleanData_BS[10:]
  CleanData_BS.remove('Quarterly')
  CleanData_BS.remove('Income Statement')
  CleanData_BS.remove('Expand All')
  CleanData_BS.remove('Cash Flow')
  CleanData_BS.remove('Balance Sheet')
  CleanData_BS.insert(5,'Total Assets')
  CleanData_BS.insert(10,'Total Liabilities')
  CleanData_BS.insert(15,'Total Equity')

  data_BS = list(zip(*[iter(CleanData_BS)]*5))

  balance_sheet = pd.DataFrame(data_BS[:-1])
  balance_sheet.iloc[0,0] =""
  balance_sheet.columns = balance_sheet.iloc[0] # Name columns to first row of dataframe
  balance_sheet = balance_sheet.iloc[1:,] # start to read 1st row
  balance_sheet = balance_sheet.T # transpose dataframe
  balance_sheet.columns = balance_sheet.iloc[0] #Name columns to first row of dataframe
  balance_sheet.drop(balance_sheet.index[0],inplace=True) #Drop first index row
  balance_sheet.index.name = '' # Remove the index name
  balance_sheet.rename(index={'ttm': '%s/%s/%s' %(date.today().month,date.today().day,date.today().year)},inplace=True) #Rename ttm in index columns to end of the year
  balance_sheet.index = pd.to_datetime(balance_sheet.index.values,infer_datetime_format=True) # Converting the index as date

  return balance_sheet

In [28]:
BS = get_balance_sheet(ticker='AAPL')

In [29]:
BS

           Total Assets Total Liabilities  ... Share Issued Ordinary Shares Number
2020-09-30  323,888,000       258,549,000  ...   16,976,763             16,976,763
2019-09-30  338,516,000       248,028,000  ...   17,772,944             17,772,944
2018-09-30  365,725,000       258,578,000  ...   19,019,944             19,019,944
2017-09-30  375,319,000       241,272,000  ...   20,504,804             20,504,804

[4 rows x 13 columns]

In [30]:
def get_cash_flow_statement(ticker):

  url_CashFlowStmt = 'https://finance.yahoo.com/quote/%s/cash-flow?p=%s' %(ticker,ticker)
  read_data_CF = ur.urlopen(url_CashFlowStmt).read() 
  raw_CF = BeautifulSoup(read_data_CF,'lxml')

  ls_CF = [] 
  for data_CF in raw_CF.find_all('div'): 
    ls_CF.append(data_CF.string) 

  CleanData_CF = list(filter(None,ls_CF))

  CleanData_CF = CleanData_CF[13:]
  CleanData_CF.remove('Quarterly')
  CleanData_CF.remove('Expand All')
  CleanData_CF.insert(6,'Operating Cash Flow')
  CleanData_CF.insert(12,'Investing Cash Flow')
  CleanData_CF.insert(18,'Financing Cash Flow')
  CleanData_CF.insert(24,'End Cash Position')

  data_CF = list(zip(*[iter(CleanData_CF)]*6))

  cash_flow = pd.DataFrame(data_CF[:-1])
  cash_flow.iloc[0,0] =""
  cash_flow.columns = cash_flow.iloc[0] # Name columns to first row of dataframe
  cash_flow = cash_flow.iloc[1:,] # start to read 1st row
  cash_flow = cash_flow.T # transpose dataframe
  cash_flow.columns = cash_flow.iloc[0] #Name columns to first row of dataframe
  cash_flow.drop(cash_flow.index[0],inplace=True) #Drop first index row
  cash_flow.index.name = '' # Remove the index name
  cash_flow.rename(index={'ttm': '%s/%s/%s' %(date.today().month,date.today().day,date.today().year)},inplace=True) #Rename ttm in index columns to end of the year
  cash_flow.index = pd.to_datetime(cash_flow.index.values,infer_datetime_format=True) # Converting the index as date

  return cash_flow

In [31]:
CF = get_cash_flow_statement(ticker='AAPL')

In [32]:
CF

           Operating Cash Flow  ... Repurchase of Capital Stock
2020-11-17          80,008,000  ...                 -72,615,000
2020-09-30          80,674,000  ...                 -72,358,000
2019-09-30          69,391,000  ...                 -66,897,000
2018-09-30          77,434,000  ...                 -72,738,000
2017-09-30          63,598,000  ...                 -32,900,000

[5 rows x 11 columns]

### **Remarks:**

It is unfortunate but I didn't found a way to switch from annual to quaterly for the frequence of the data.

That's interesting to do but requires a long analysis of the html that we get from beautiful soup.

Fundamentals data is extremely regularized and low frequency, so, there is not much to be exploted except if we combine them with some other data (ex: stock prices)

One huge drawback that comes with fundamentals data is their modification/correction after released because it will eventually lead to backtesting errors. It would be a good practice to specify the date of released  and last correction  for data vendors.

I recomand to take a look at SimFin that seems to have done a big effort in this way. Their data are free to use until one year prior the current one.